nav {
  display: flex;
  justify-content: space-around;
  background-color: skyblue;
}

/* Students */
table {
  width: 80%;
  margin-right: 8rem;
  margin-left: 8rem;
  border: 1px solid black;
}

tr, td {
  border: 1px solid black;
  padding: 0.4rem;
}

.flex {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 1rem;
  width: 10rem;
  background-color: lightblue;
  margin: 2rem;
  text-align: center;
  border-radius: 2rem;
}

/* Add Studenst */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

input {
  border-radius: 0.4rem;
}